@media screen and (max-width: 600px) {
    .navbar img {
        height: 40px;
    }

    .row {
        display: block;
    }

    .box-links {
        width: 100%;
    }

    .box {
        width: 100%;
    }
}