@media screen and (max-width: 600px) {

    html, body {
        overflow-x: hidden;
      }
    
    body {
        position: relative
    }

    .navbar img {
        height: 40px;
    }

    .row {
        display: block;
    }

    .box-links {
        width: 100%;
    }

    .box {
        width: 100%;
    }
    
    #document-content {
        padding: 0 5px;
    }

    #document-content #document {
        width: 100%;
    }
}