<nav class="navbar navbar-default navbar-fixed-top hestia_left navbar-not-transparent">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/index.html" title="MSXVR">
          <img src="/assets/img/comunidad_msxvr.png" alt="MSXVR">
        </a>
      </div>
      <div id="main-navigation" class="collapse navbar-collapse">
        <ul id="menu-menureserva" class="nav navbar-nav">
          <li><a href="#">English</a</li>
          <li><a title="Recursos" href="https://msxvr.com">MSXVR.com</a></li>
        </ul>
      </div>
    </div>
  </nav>