body {
    background-color: #f2f2f2;
    color: #24292f;
    font-family: Segoe UI,SegoeUI,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    margin: 0;
}

nav {
    background-color: #fff;
}

.navbar > .container {
    flex-direction: row;
}

.navbar > .container {
    display: flex;
    transition: padding .1s ease;
    padding: 10px 15px;
    vertical-align: middle;
    align-items: center;
}

.navbar .navbar-header .navbar-brand img {
    width: auto;
    max-height: 50px;
}

#header {
    background-color: rgb(43, 76, 226);
    color:rgb(255, 255, 255);
    padding: 20px;
    margin: 0;
}

#manuales {
    margin: 20px;
}

.divider {
    background-color: rgb(210, 210, 210);
    border-bottom: 1px solid rgb(190, 190, 190);
    border-top: 1px solid rgb(190, 190, 190);
    color:rgb(24, 31, 82, 1);
    padding: 1px 10px;
}

.row {
    display: flex;
}

.box {
    background-color: var(--theme-body-background);
    border: 1px solid var(--theme-border-white-high-contrast);
    box-shadow: 0 1.6px 3.6px 0 var(--theme-box-shadow-medium),0 .3px .9px 0 var(--theme-box-shadow-light);
    display: block;
    padding: 1.25rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
}

a {
    text-decoration: none;
}

code {
    background-color: rgb(43, 76, 226);
    color:rgb(255, 255, 255);
    display: block;
    margin: 20px;
    max-width: 600px;
    padding: 5px;
}